<div class="container mt-5">
    <div class="row justify-content-center">
      
        <div class="card shadow-lg">
          <div class="card-header text-center text-white">
            <h3>Login</h3>
          </div>
          <div class="card-body">
            <form (ngSubmit)="Login()" #loginForm="ngForm">

<div class="form-group mb-3">
                <label for="email" class="form-label">Username</label>
                <input
                  type="email"
                  id="email"
                  class="form-control"
                  [(ngModel)]="username"
                  name="email"
                  required
                />
              </div>

              <div class="form-group mb-4">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  [(ngModel)]="password"
                  name="password"
                  required
                />
              </div>
              <div class="d-grid">
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="loginForm.invalid"
                >
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
      
    </div>
  </div>